#body{

 background: #030518;
 color: white;
 font-family: monospace;
 font-size: medium;

}

#padding1{
    
    position: fixed;
    width: 20rem;
    height: 100vh;
    display: flex;
    align-items: center;
    background: #0a0c21;
    border-right: solid #38444d;
    flex-direction: column;
    text-align: center;    

}

.img{

 
    width: 50px;
    height: 50px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    border-radius: 50px;

}

.padding2{
   
    position: absolute;
    height: 100vh;
    width: 450px ;
    left: 500px;
    right: 500px;
    top: auto;
    padding: 2rem 5rem;
    text-align: justify;
    display: block;
    z-index: 2;
  
}

.active{

    margin: 0px 300px;
    padding: 100px;
    border: 100px;
    vertical-align: baseline;
    list-style-type: none;
}

.fonteNegrito{

    font-weight: bold;
    color: green;
}

.li:hover, .li:active{
    background-color: pink;
}