#body{
    
 border: #38444d ;
 background: #030518;
 vertical-align: baseline;
 color: #8899a6;
 font-family: Arial, Helvetica, sans-serif;
 

}

.img{


    width: 50px;
    height: 50px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    border-radius: 50px;

}

#padding1{

    -webkit-box-align: center;
    align-items: center;
    border-right: solid #38444d;
    background: #0a0c21;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    padding: 2rem;
    text-align: center;
    width: 20rem;
    transition: all 0.2s ease 0s;
    z-index: 2;
    font: inherit;
    color: #8899a6;
    
}


.padding2{

    margin: auto;
    width: 450px ;
    padding: 2rem 5rem;
    text-align: justify;
    display: block;
    
}

.active{

    color: #f231a5 ;
    margin: 0px 300px;
    padding: 100px;
    border: 100px;
    vertical-align: baseline;
    list-style-type: none;
}

