* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
  background-color: rgb(253, 251, 251)
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  padding: 20px 50px;
  align-items: center;
  box-shadow: 2px 2px 12px rgb(0, 0, 0, 20%) ;
}

header h2 {
  padding: 0 20px;
}

header nav ul {
  display: flex;
  padding: 0 20px;
}

header nav ul li {
  padding: 0 20px;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
}

.hero {
  background-image: url('./img/bng.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.hero section div:nth-child(1) img{
  width: 240px;
  border: 1px solid #403e3e;
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgb(0, 0, 0, 80%) ;
}


.hero section div:nth-child(2) {
  display: flex;
  flex-direction: column;
  flex-basis: 800px;
}

.hero section div p {
  margin-top: 25px;
}

.hero section div span {
  color: #6d6d6d;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.hero section div p:nth-child(2) {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 60px;
}

.hero section div p:nth-child(3) {
  color: #403e3e;
  font-size: 30px;
  font-family: monospace;
}

.hero section div button {
  width: 250px;
  margin-top: 50px;
  background-color: #403e3e;
  color: white;
  border-radius: 4px;
  padding: 10px 50px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#conteiner-conteudo {
  width: 80%;
  height: 330px;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 2px 2px 12px rgb(0, 0, 0, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#texto-sobre {
  width: 550px;
}

#texto-sobre p {
  font-size: 15px;
  color: #191c03;
  line-height: 20px;
  text-align: justify; 
}

#conteiner-conteudo-habilidades {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

#conteiner-conteudo-habilidades div {
  padding: 20px;
  margin: 0 5px;
}

#div1, #div2, #div3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 300px;
  color: white;
  box-shadow: 2px 2px 12px rgb(0, 0, 0, 20%);
  border-radius: 10px;
}

#div1 {
  background-image: url('/img/bng2.png');
  background-repeat: no-repeat;
  background-size: cover;

}

#div2 {
  background-image: url("/img/bng3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#div3 {
  background-image: url("/img/bng4.png");
  background-repeat: no-repeat;
  background-size: cover;
} 

#div1 p {
  margin-top: 20px;
  text-align: justify;
}

#div2 ol {
  margin-top: 20px;
  list-style: none;
}

#div3 ul {
  margin-top: 20px;
  list-style: none;
}

#blocos-trybe {
  background-image: url('./img/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 280px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#blocos-trybe  table {
  width: 30%;
  border: 1px solid;
}

td {
  border: 1px solid;
}

#blocos-trybe  table thead {
    text-align: center;
}

#blocos-trybe table tbody {
  text-align: center;
}

footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer h3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

footer div {
  margin-top: 10px;
}







